body {
display: flex;
justify-content: center;
background-image: url("chat.ui.png");
background-attachment: fixed;
background-size: cover;
gap: 20px;
}

.Usercontainer {
margin-top: 1vh;
width: 25vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
}

  .chatframe {
margin-top: 1vh;
width: 70vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
}