body {
display: flex;
justify-content: center;
background-image: url("chat.ui.png");
background-attachment: fixed;
background-size: cover;
gap: 20px;
font-family: "Inter", sans-serif; 
}

.Usercontainer {
margin-top: 1vh;
width: 25vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
}

  .chatframe {
margin-top: 1vh;
width: 70vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
}

.UserBanner {
  width: 100%;
  height: 10.5vh;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 25px 25px 0px 0px;

  display: flex;
  align-items: center;
  gap: 1vw;
}


.PFP {
  margin-left: 1vw;
  height: 9vh;
}

.UserName {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  color: white;
}
