body {
display: flex;
justify-content: center;
background-image: url("chat.ui.png");
background-attachment: fixed;
background-size: cover;
gap: 20px;
font-family: "Inter", sans-serif; 
}

.UserContainer {
margin-top: 1vh;
width: 25vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
backdrop-filter: blur(5px);
}

.chatframe {
margin-top: 1vh;
width: 70vw;
height: 97vh;
border-radius: 25px;
border: 2px solid rgba(185, 196, 87, 0.50);
background: rgba(0, 0, 0, 0.50);
box-shadow: 0 0 50px 10px #000;
backdrop-filter: blur(5px);
}

.UserBanner {
  width: 100%;
  height: 10.5vh;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 25px 25px 0px 0px;

  display: flex;
  align-items: center;
  gap: 1vw;
}


.PFP {
  margin-left: 1vw;
  height: 9vh;
}

.UserName {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  color: white;
}

.Status {
  margin-left: auto;
  margin-right: 0px;

  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.StatusDot {
  width: 25px;
  height: 25px;
  background-color: #0F0;
  border-radius: 100px;
  margin-right: 100px;
}
.UserContainer {
  display: flex;
  justify-content: center;
}

.UserPlaceholder {
  height: 8vh;
  width: 100%;
 display: inline-flex;
 border-radius: 25px 25px 0px 0px;
  align-items: center; 
 border: 1px solid #000000;
background: rgba(0, 0, 0, 0.50);
}

.UserName2 {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1vw;
  color: white;
}

.PFP2 {
  margin-left: 1vw;
  height: 7vh;
}